# Ignore source and dev files
src/
scripts/
test/
media/
.vscode/
.vscode-test/
.gitignore
.eslintrc*
eslint.config.js
coverage/
**/*.map
*.local.md
tsconfig.json
.stylelintignore
screenshot.png
.nyc_output/
.github/

# Keep dist and package info
!dist/**/*.js
!package.json
!README.md
!LICENSE
!media/icon.png
